.ui-badge{
    font-size: $font-sm;
    display: inline-block;
    border-radius: $radius;
    cursor: pointer;
    position: relative;
    color: #fff;
    font-size: $font-sm;
    background: $bglightgray;
    padding: baseV(1) baseH(1);
    line-height: 1;
    &:before{
        border-radius: $radius;
        will-change: opacity;
        transition: opacity $fast-time linear;
        opacity: 0;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(black, .5);
    }
    span{
        position: relative;
        z-index: 1;
    }
    &:hover{
        &:before{
            opacity: .5;
        }
    }
    &:active{
        &:before{
            opacity: 1;
        }
    }
    &.ui-badge--danger{
        background: $danger-red;
    }
    &.ui-badge--warning{
        background: $warning-yellow;
    }
    &.ui-badge--success{
        background: $success-green;
    }
    &.ui-badge--primary{
        background: $status-blue;
    }
    &.ui-badge--light{
        background: $kenobi;
    }
}
