.ui-button { /*reseta buttons default*/
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
	outline: none;
	text-decoration: none;
	color: inherit;
}

// BUTTONS
.ui-button {
	flex: none; // fix shrink
	font-weight: normal;
	border-radius: $radius;
	border: solid 1px $border-grey;
	font-weight: normal;
	line-height: 1;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: inline-block;

	.icon-element {
        vertical-align: top;
    	padding: 6px 11px; // vertical x horizontal
    	transition: all $fast-time ease;
    	margin-right: 4px;
		padding: 0;
		color: inherit;
		font-size: 1em;
		pointer-events: none;
		&:last-child {
			margin-right: 0;
		}
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		pointer-events: none;
		transition: all $normal-time ease;
	}

	&::after {
		background: lighten(#FFF, 60%);
		border-radius: 50%;
		content: "";
		display: block;
		font-size: 8px;
		height: 1em;
		left: 50%;
		margin: -0.5em 0 0 -0.5em;
		opacity: 0;
		position: absolute;
		transform: scale(1, 1);
		transform-origin: 50% 50%;
		top: 50%; // from center
		width: 1em;
		z-index: 2;
	}

	&:hover {
		border: solid 1px rgba(black, .3);
	}

	&:hover::before {
		background: rgba(black, .15);
	}

	&:focus:not(:active)::after {
		animation: ripple 1s ease-out;
	}

	&:active, &:visited {
		box-shadow: none;
		outline: none;
		text-decoration: none;
	}

	span {
		position: relative;
		z-index: 1;
		font-size: 1em;
	}
	// Sizes
	&.ui-button--md {
		padding: $padding-button-md;
		font-size: $font-md;
	}

	&.ui-button--sm {
		padding: $padding-button-sm;
		font-size: $font-sm;
	}

	&.ui-button--lg {
		padding: $padding-button-lg;
		font-size: $font-lg;
	}
	// States
	&.ui-button--primary {
		background: $color-primary;
		color: #fff;
	}

	&.ui-button--default {
		background: $color-button-default;
		color: rgba(black, .8);
		.icon-element{
			color: $doubledevil-grey;
		}
	}

	&.ui-button--danger {
		background: $color-danger;
		color: #fff;
	}

	&.ui-button--disabled {
		@extend .is-disable;
	}
	// Icon only
	&.icon-only {
		transition: all $normal-time ease;
		color: rgba(black, .6);
		border-color: transparent; // disable color normal state

		&:after {
			display: none; // disable ripple
		}

		&:before {
			display: none; // disable overlay hover
		}

		&:hover {
			border-color: $border-grey;
			background: $zebra-grey;
			color: $color-primary;
		}

		&:focus:active {
			background: #CACACA;
		}

		&.icon-only--disabled {
			@extend .is-disable;
		}
	}
}

// Regras globais apenas de estilo
.ui-button--primary {
	background: $status-blue;
	color: #fff;
}

.ui-button--default {
	background: $zebra-grey;
	color: rgba(black, .8);
}

.ui-button--danger {
	background: $danger-red;
	color: #fff;
}

.ui-button--disabled {
	@extend .is-disable;
}

// DROPDOWN
.ui-dropdown {
	position: relative;

	.ui-dropdown-options {
		z-index: 9;
		cursor: auto;
		position: absolute;
		left: 0;
		top: 100%;
		margin: auto;
		visibility: hidden;
		opacity: 0;
		transition: all $normal-time ease();
		transform: translateY(10%);
		padding: 15px;
		background: #fff;
		border-radius: $radius;
		border: solid 1px rgba(black, .2);
		box-shadow: 0 3px 6px rgba(black, .16);

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			min-width: 130px;

			li {
				cursor: pointer;
				padding: 6px 15px;
				font-size: 13px;
				color: #444;
				margin-bottom: 5px;
				transition: background $fast-time ease;
				margin-left: -15px;
				margin-right: -15px;

				&:hover {
					background: $zebra-grey;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&.active {
		.ui-dropdown-options {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}
	}

	&.ui-button--primary {
		.ui-dropdown-options {
			border-top: solid 2px $net-blue;
			border-bottom: solid 2px $net-blue;
		}
	}

	&.ui-button--default {
		.ui-dropdown-options {
			border-top: solid 2px darken($zebra-grey, 15%);
			border-bottom: solid 2px darken($zebra-grey, 15%);
		}
	}

	&.ui-button--danger {
		.ui-dropdown-options {
			border-top: solid 2px $danger-red;
			border-bottom: solid 2px $danger-red;
		}
	}
}
// SPLIT Button

.splitButton {
	// split button element wrapper
	position: relative;
	display: inline-block;

	button {
		@extend .ui-button;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		& + .split-button {
			@extend .ui-dropdown;
			@extend .ui-button;
			border-radius: 0 $radius $radius 0;
			margin-left: -6px;
			transition: box-shadow 0.15s linear;
			display: inline-block;
			vertical-align: top;
			box-sizing: border-box;
			cursor: pointer;
			overflow: visible;
			position: static;
			font-weight: normal;

			&:focus:not(:active)::after {
				animation: none;
			}

			&:hover {
				border: solid 1px rgba(black, .2);
				box-shadow: inset 0 0 0 100px  rgba(black, .2);
			}

			&:hover::before {
				display: none; // disable default hover effect
			}

			.icon-element {
				pointer-events: none;
				margin: 0;
				padding: 0;

				&:hover {
					// reset hover
					border: none;
					background: none;
					color: inherit;
				}
			}

			&.active {
				box-shadow: inset 0 0 0 100px  rgba(black, .2);
			}
		}

		&.ui-button--md {
			& + .split-button {
				padding: $padding-button-md;
			}
		}

		&.ui-button--sm {
			& + .split-button {
				padding: $padding-button-sm;
			}
		}

		&.ui-button--lg {
			& + .split-button {
				padding: $padding-button-lg;
			}
		}
	}
}
//Button Selector
.button-selector {
    display: inline-block;
	@extend .ui-dropdown;
	border-radius: $radius;

	.icon-element {
		margin: 0;

		&:last-child {
			margin-left: 4px;
		}
	}
}

//Icon selector
.icon-selector {
    display: inline-block;
	@extend .ui-dropdown;
	border-radius: $radius;

	.icon-element {
		margin: 0;

		&:last-child {
			margin-left: 4px;
		}
	}
}
//LINKS simples

a.button-link, .button-link {
	display: inline-block;
	//padding: 5px 0; // hit area 5px vertical
	color: $net-blue;
	transition: color $fast-time ease;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	font-size: 13px;

	padding-top: 0;
	&.disable-undeline{
		padding-bottom: 0;
		&:after{
			display: none;
		}
	}

	&::after {
		content: "";
		position: absolute;
		display: block;
		border-bottom: solid 1px $status-blue;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		transform-origin: center center;
		transform: scaleX(0);
		transition: transform $normal-time ease;
	}

	&:hover {
		color: $status-blue;

		&::after {
			transform: scaleX(1);
		}
	}

	&.button-link--disabled {
		@extend .is-disable;
	}

	.icon-element {
		vertical-align: baseline;
		padding: 0;
		pointer-events: none;
		font-size: 1.05em;
	}
}
.button-link{
	&.link-selector{
		padding-top: 0;
		display: inline-flex;
		align-items: center;
		@extend .ui-dropdown;
		.icon-element{
			margin-left: base(1);
			margin-top: 2px;
			&.customicon{
				margin-top: 0;
				margin-right: base(1);
				margin-left: 0;
			}
		}
		.ui-dropdown-options{
			min-width: 200px;
			max-height: 180px;
			border-top: solid 2px $div-grey;
			border-bottom: solid 2px $div-grey;
		}
		&.active{
			.ui-dropdown-options{
				transform: translateY(0);
			}
		}
		&.link-selector--right{
			.ui-dropdown-options{
				left: auto;
				right: 0;
			}
		}
	}
}

//Toolbar
.ui-toolbar {
	clear: both;
	.ui-toolbar-button {
		display: inline-block;
		margin-right: base(1);
	}
	.ui-toolbar-grouped {
		clear: both;
		display: inline-block;
		margin-right: base(1);
		font-size: 0; // remove espaço default do inline-block
		border: solid 1px rgba(black, .2); // borda default dos button
		border-radius: $radius;
		.ui-toolbar-button {
			margin: 0;
			.ui-button {
				border-radius: 0;
				border: none;
				border-right: solid 1px $border-grey;
			}
			&:first-child {
				.ui-button {
					border-top-left-radius: $radius;
					border-bottom-left-radius: $radius;
				}
			}
			&:last-child {
				.ui-button {
					border-top-right-radius: $radius;
					border-bottom-right-radius: $radius;
					border-right: none;
				}
			}
		}
	}
}

// Radio button
.radio-button {
	clear: both;
	.radio-button-element {
		display: inline-block;
	}
	.radio-button-grouped {
		clear: both;
		display: inline-block;
		font-size: 0; // remove espaço default do inline-block
		.radio-button-element {
			margin: 0;
			.ui-button {
				border-radius: 0;
				border: solid 1px $border-grey;
				border-right: none;
				color: $status-blue;
				text-align: center;
				font-weight: normal;
				transition: all $normal-time linear;
				&:hover {
					color: #fff;
					background: darken($status-blue, 15%);
				}
				&.active {
					color: #fff;
					background: $status-blue;
					pointer-events: none;
				}
			}
			&:first-child {
				.ui-button {
					border-top-left-radius: $radius;
					border-bottom-left-radius: $radius;
				}
			}
			&:last-child {
				.ui-button {
					border-top-right-radius: $radius;
					border-bottom-right-radius: $radius;
					border-right: solid 1px $border-grey;
				}
			}
			&.radio-button-element--disabled {
				@extend .is-disable;
			}
		}
	}
}

// Tab button
.tab-button {
	clear: both;
	.tab-button-element {
		display: inline-block;
	}
	.tab-button-grouped {
		clear: both;
		display: inline-block;
		font-size: 0; // remove espaço default do inline-block
		//border: solid 1px rgba(black, .2); // borda default dos button
		//border-radius: $radius;
		.tab-button-element {
			position: relative;
			margin: 0;
			.icon-element {
				//transition: none;
			}
			&:before {
				position: absolute;
				bottom: -1px;
				left: 0;
				right: 0;
				margin: auto;
				border-right: 6px solid transparent;
				border-bottom: 6px solid;
				border-left: 6px solid transparent;
				content: '';
				border-bottom-color: white;
				width: 0;
				opacity: 0;
				z-index: 1;
				transition: opacity $normal-time linear;
			}
			&:hover:before {
				opacity: 1;
			}
			&.active {
				pointer-events: none;
				.ui-button {
					color: #fff;
					background: $status-blue;
				}
				&:before {
					opacity: 1;
				}
				.icon-element{
					color: #fff;
				}
			}
			.ui-button {
				border-radius: 0;
				border: solid 1px $border-grey;
				border-right: none;
				color: $status-blue;
				text-align: center;
				font-weight: normal;
				transition: all $normal-time linear;
				&:hover {
					color: #fff;
					background: darken($status-blue, 15%);
					.icon-element{
						color: #fff;
					}
				}
				&.active {
					// color: #fff;
					// background: $status-blue;
					pointer-events: none;
				}
			}
			&:first-child {
				.ui-button {
					border-top-left-radius: $radius;
					border-bottom-left-radius: $radius;
				}
			}
			&:last-child {
				.ui-button {
					border-top-right-radius: $radius;
					border-bottom-right-radius: $radius;
					border-right: solid 1px $border-grey;
				}
			}
			&.tab-button-element--disabled {
				@extend .is-disable;
			}
		}
	}
}
.has-optiongroup{
	.optiongroup{
		& > span{
			font-size: $font-sm;
		    display: block;
		    text-transform: uppercase;
		    font-weight: 700;
		    color: rgba(102,102,102,.73);
		    padding: base(1);
			padding-left: 0;
		    padding-bottom: baseV(2);
		}
		& ~ .optiongroup {
		    border-top: solid 1px rgba(0,0,0,.2);
		    margin-top: base(2);
		    padding-top: base(3);
			padding-left: 15px;
		   	padding-right: 15px;
		    margin-left: - 15px;
		    margin-right: - 15px;
		}
	}
}

// KEYFRAMES
@keyframes ripple {
	0% {
		transform: scale(0, 0);
		opacity: 0.5;
	}

	20% {
		transform: scale(11, 11);
		opacity: 0.5;
	}

	100% {
		opacity: 0;
		transform: scale(22, 22);
	}
}
