.section-divider {
	color: rgba(black, .73);
	transition: color $fast-time linear;
	margin-bottom: baseV(6);
    & > .icon-element, [class="seicon-*"]{
        font-size: .9em;
    }
	.section-divider-header {
		display: flex;
		align-items: center;
		font-size: 16px;
		font-weight: bold;
        margin-bottom: 24px;
		.icon-element {
			display: inline-block;
			transition: transform $fast-time linear;
		}
		.section-divider-title {
			cursor: pointer;
            white-space: nowrap;
			transition: color $fast-time linear;
			&:hover {
				color: $net-blue;
			}
		}
		hr {
			margin-left: baseH(1);
			width: 100%;
			border: none;
			border-top: solid 1px $border-grey;
		}
	}
	.section-divider-content {
		overflow: hidden;
		display: none;
        margin-bottom: 24px;
	}
	&.is-active {
		.section-divider-title{
			.icon-element {
				transform: rotate(90deg);
			}
		}
	}
    &.section-divider-comum{
        .section-divider-header{
            pointer-events: none;
        }
     }
}
.section-divider{
	&:last-child{
		.section-divider-content{
			margin-bottom: 0;
		}
	}
}
