$base-vertical: $padding-base-vertical;
$base-horizontal: $padding-base-horizontal;

@function baseH($baseMultiple) {
	@return $base-horizontal * $baseMultiple;
}
@function baseV($baseMultiple) {
	@return $base-vertical * $baseMultiple;
}
@function base($baseMultiple) {
	@return $base * $baseMultiple;
}
@function ease() {
	@return ease-in-out;
}
