.generic-label{
    vertical-align: middle;
    display: inline-block;
    color: $text-grey;
    font-size: $font-sm;
    clear: both;
    img{
        vertical-align: middle;
    }
    p{
        margin: 0;
        &.button-link{
            padding-top: 0;
        }
    }
    .label-title{
        line-height: 1;
        text-transform: uppercase;
        padding-bottom: $padding-base-vertical;
    }
    .label-subtitle{
        display: inline-block;
        vertical-align: middle;
        font-size: $font-md;
        line-height: 1;
    }
    & > div{
        display: inline-block;
        vertical-align: top;
    }
}
