.dropdownOverlayClick{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	&.active{
		display: block;
	}
}

/*====>common  ====*/
img.img-rounded{
	border-radius: 50%;
}
img.img-border{
	border: solid 1px #95989A;
}
img.img-small{
	width: 16px;
	height: 16px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.custom-scrollbar{
	overflow: auto;
	&::-webkit-scrollbar {
	    width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: rgba(black, .1);
	}

	&::-webkit-scrollbar-thumb {
	    border-radius: 4px;
		background: rgba(black, .2);
	}
}
.paragrafo{
	color: $text-grey;
	font-size: $font-md;
	line-height: 1.3 !important;
}
/*====  common<====*/

/*====>bases  ====*/
.base-bottom{
	margin-bottom: baseV(6);
}
.base-bottom-sm{
	margin-bottom: baseV(4);
}
.base-right{
	margin-right: baseH(4);
}
.base-right-sm{
	margin-right: baseH(2);
}
/*====  bases<====*/


/*====>flex  ====*/
.flex-container{
	display: flex;
}
.align-center{
	align-items: center;
}
.grow{
	flex-grow: 1;
}
.flex-column{
	flex-direction: column;
}
.space-around{
	justify-content: space-around;
}
.space-between{
	justify-content: space-between;
}
/*====  flex<====*/

/*====>helpers  ====*/
.full{
	width: 100%;
}
.posr{
	position: relative;
}
.pointer-none{
	pointer-events: none;
}
.is-disable {
	opacity: 0.5;
	pointer-events: none;
}
.tac{
	text-align: center;
}
.icon-element {
	display: inline-block;
	font-size: 1em;
	color: inherit;
}
.bold{
	font-weight: bold;
}
/*====  helpers<====*/
