 .ui-panel{
	background: #fff;
	padding: base(5);
	border-radius: $radius;
	box-shadow: 0 1px 2px $placeholder-grey;
	margin-bottom: baseV(6);
    .ui-panel-header{
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-bottom: 0;
        transition: padding-bottom $fast-time linear;
        color: $doubledevil-grey;
        margin-bottom: baseV(6);
        h4{
            text-transform: uppercase;
            margin-left: - $inline-block;
            display: inline-flex;
            align-items: center;
            margin: 0;
            font-size: 18px;
            white-space: nowrap;
            img{
                margin-right: baseH(1);
            }
        }
        .seicon-right-dir{
            margin-left: - $inline-block;
            overflow: hidden;
            transform: rotate(0);
            will-change: transform;
            transition: transform $fast-time ease();
            margin-right: base(1);
        }
        &:hover{
            h4{
                color: $status-blue;
            }
            .seicon-right-dir{
                width: 1em;
                color: $status-blue;
            }
        }
    }
    .ui-panel-header{
        padding-bottom: baseV(4);
        border-bottom: solid 2px $div-grey;
    }
	&.ui-panel--collapse{
        .ui-panel-header{
            padding-bottom: 0;
            border-bottom: none;
            margin-bottom: 0;
        }
		.ui-panel--collapse-content{
			display: none;
		}
        &.panel-active{
            .ui-panel-header{
                padding-bottom: baseV(4);
                border-bottom: solid 2px $div-grey;
                margin-bottom: baseV(6);
                .seicon-right-dir{
                    transform: rotate(90deg);
                }
            }
        }
	}
	&.error{
		border: solid 1px rgba($danger-red, .6);
		border-left-width: 5px;
	}
}
