.has-popover{
	$arrowMargin: base(3);
	position: relative;
	display: inline-block; //temp
	margin-left: 2px; //temp
	.ui-popover{
		width: 280px;
		border-radius: $radius;
		border: solid 1px $border-grey;
		position: absolute;
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: all $fast-time ease();
		top: 24px;
		background: #fff;
		box-shadow: 0 5px 10px rgba(0,0,0,.2);
		z-index: 9;
		color: $text-grey;
		.ui-popover-header{
			padding: base(3) base(2);
			border-bottom: solid 1px $border-grey;
			h6{
				margin: 0;
				font-size: $font-md;
				font-weight: normal;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			a{
				padding-top: base(1) - 1px;
			}
		}
		.ui-popover-picture{
			position: relative;
			height: 170px;
			background: url("../img/foto.jpg") center center no-repeat;
			background-size: cover;
			&:before{
				position: absolute;
				content: "";
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 100%);
			}
			.ui-popover-picture-label{
				font-size: $font-sm;
				color: #fff;
				position: absolute;
				bottom: 0;
				padding: 0 base(2) base(2);
				font-weight: bold;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
			}
		}
		.ui-popover-content{
			padding: base(3) base(2);
			background: $bg-body;
		}
		&:before{
			content: "";
			position: absolute;
			top: -6px;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
			background: #fff;
			border: solid 1px $border-grey;
			border-right: none;
			border-bottom: none;
			box-sizing: border-box;
		}
		&.active{
			visibility: visible;
			opacity: 1;
		}
		&.ui-popover--left{
			left: 0;
			transform: translateY(10px) translateX(0);
			&::before{
				left: $arrowMargin;
			}
			&.active{
				transform: translateY(0) translateX(0);
			}
		}
		&.ui-popover--center{
			left: 50%;
			transform: translateY(10px) translateX(-50%);
			&::before{
				left: 0;
				right: 0;
				margin: auto;
			}
			&.active{
				transform: translateY(0) translateX(-50%);
			}
		}
		&.ui-popover--right{
			right: 0;
			transform: translateY(10px) translateX(0);
			&::before{
				right: $arrowMargin;
				margin: auto;
			}
			&.active{
				transform: translateY(0) translateX(0);
			}
		}
	}
}
