.ui-progress{
	border-radius: 10px;
	min-width: 90px;
	height: baseV(4);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	background: $zebra-grey;
	position: relative;
	.ui-progress-value{
		opacity: 0;
	}
	.ui-progress-bar{
		transition: width $fast-time linear;
		will-change: width;
		height: baseV(4);
		box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
		text-align: center;
		font-size: 10px;
		color: #fff;
		border-radius: 10px;
		position: absolute;
		top: 0;
		left: 0;
		line-height: baseV(4);
		text-shadow: 0 1px 1px $doubledevil-grey;
    	font-weight: bold;
	}
	&.ui-progress--default{
		.ui-progress-bar{
			background: $placeholder-grey;
		}
	}
	&.ui-progress--danger{
		.ui-progress-bar{
			background: $danger-red;
		}
	}
	&.ui-progress--warning{
		.ui-progress-bar{
			background: $warning-yellow;
		}
	}
	&.ui-progress--success{
		.ui-progress-bar{
			background: $success-green;
		}
	}
	&.ui-progress--show-value{
		.ui-progress-value{
			opacity: 1;
		}
	}
	.ui-progress-indicator{
		$size: 4px;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		border-left: dotted 2px $text-grey;
		height: baseV(4);
		&:before{
			content: "";
			position: absolute;
			top: -($size + 2px);
			left: -($size + 1px); // 4px + 1 da borda
			width: 0;
			height: 0;
			background: #fff;
			border: solid $size $text-grey;
			border-top-width: ($size + 2px);
			border-right-color: transparent;
			border-left-color: transparent;
			border-bottom: none;
			box-sizing: border-box;
		}
	}
}
