body {
	font-family: Arial, Helvetica, sans-serif;
}
*{
	box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body, html{
	min-height: 100vh;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

[class^="seicon-"]:before{
	margin: 0; // reseta margin default
}
