// @font-face {
//   font-family: 'se-icons';
//   src: url("https://rawgit.com/jotavejv/jotavejv.github.io/master/seicon/se-icons.eot");
//   src: url("https://rawgit.com/jotavejv/jotavejv.github.io/master/seicon/se-icons.eot#iefix") format("embedded-opentype"), url("https://github.com/jotavejv/jotavejv.github.io/blob/master/seicon/se-icons.woff2?raw=true") format("woff2"), url("https://rawgit.com/jotavejv/jotavejv.github.io/master/seicon/se-icons.woff") format("woff"), url("https://rawgit.com/jotavejv/jotavejv.github.io/master/seicon/se-icons.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: 'seicon';
  src: url('../fonts/seicon.eot');
  src: url('../fonts/seicon.eot#iefix') format('embedded-opentype'),
       url('../fonts/seicon.woff2') format('woff2'),
       url('../fonts/seicon.woff') format('woff'),
       url('../fonts/seicon.ttf') format('truetype'),
       url('../fonts/seicon.svg#seicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'seicon';
    src: url('../fonts/seicon.svg#seicon') format('svg');
  }
}
*/

 [class^="seicon"]:before, [class*="seicon"]:before {
  font-family: "seicon";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.seicon-cancel-circle:before { content: '\e800'; } /* '' */
.seicon-cancel-circle-alt:before { content: '\e801'; } /* '' */
.seicon-chart-area:before { content: '\e802'; } /* '' */
.seicon-chart-column:before { content: '\e803'; } /* '' */
.seicon-chart-line:before { content: '\e804'; } /* '' */
.seicon-chart-pie:before { content: '\e805'; } /* '' */
.seicon-check:before { content: '\e806'; } /* '' */
.seicon-check-circle:before { content: '\e807'; } /* '' */
.seicon-check-circle-alt:before { content: '\e808'; } /* '' */
.seicon-checked:before { content: '\e809'; } /* '' */
.seicon-clean:before { content: '\e80a'; } /* '' */
.seicon-clock:before { content: '\e80b'; } /* '' */
.seicon-comment:before { content: '\e80c'; } /* '' */
.seicon-comment-alt:before { content: '\e80d'; } /* '' */
.seicon-comment-circle:before { content: '\e80e'; } /* '' */
.seicon-compass:before { content: '\e80f'; } /* '' */
.seicon-competence:before { content: '\e810'; } /* '' */
.seicon-conditional:before { content: '\e811'; } /* '' */
.seicon-copy:before { content: '\e812'; } /* '' */
.seicon-crop:before { content: '\e813'; } /* '' */
.seicon-customize:before { content: '\e814'; } /* '' */
.seicon-dashboard:before { content: '\e815'; } /* '' */
.seicon-database:before { content: '\e816'; } /* '' */
.seicon-datetime:before { content: '\e817'; } /* '' */
.seicon-down:before { content: '\e819'; } /* '' */
.seicon-down-circle:before { content: '\e81a'; } /* '' */
.seicon-down-dir:before { content: '\e81b'; } /* '' */
.seicon-download-cloud:before { content: '\e81c'; } /* '' */
.seicon-down-open:before { content: '\e81d'; } /* '' */
.seicon-down-open-circle:before { content: '\e81e'; } /* '' */
.seicon-drag:before { content: '\e81f'; } /* '' */
.seicon-edit:before { content: '\e820'; } /* '' */
.seicon-envelope:before { content: '\e821'; } /* '' */
.seicon-envelope-alt:before { content: '\e822'; } /* '' */
.seicon-envelope-opened:before { content: '\e823'; } /* '' */
.seicon-envelope-opened-alt:before { content: '\e824'; } /* '' */
.seicon-eq:before { content: '\e825'; } /* '' */
.seicon-expand-left:before { content: '\e826'; } /* '' */
.seicon-expand-right:before { content: '\e827'; } /* '' */
.seicon-eye:before { content: '\e828'; } /* '' */
.seicon-eye-forbidden:before { content: '\e829'; } /* '' */
.seicon-file:before { content: '\e82a'; } /* '' */
.seicon-file-audio:before { content: '\e82b'; } /* '' */
.seicon-file-code:before { content: '\e82c'; } /* '' */
.seicon-file-content:before { content: '\e82d'; } /* '' */
.seicon-file-group:before { content: '\e82e'; } /* '' */
.seicon-files:before { content: '\e82f'; } /* '' */
.seicon-file-video:before { content: '\e830'; } /* '' */
.seicon-filter:before { content: '\e831'; } /* '' */
.seicon-filter-remove:before { content: '\e832'; } /* '' */
.seicon-first:before { content: '\e833'; } /* '' */
.seicon-first-circle:before { content: '\e834'; } /* '' */
.seicon-flag:before { content: '\e835'; } /* '' */
.seicon-flash:before { content: '\e836'; } /* '' */
.seicon-float:before { content: '\e837'; } /* '' */
.seicon-floppy:before { content: '\e838'; } /* '' */
.seicon-folder-close:before { content: '\e839'; } /* '' */
.seicon-folder-close-alt:before { content: '\e83a'; } /* '' */
.seicon-folder-open:before { content: '\e83b'; } /* '' */
.seicon-folder-open-alt:before { content: '\e83c'; } /* '' */
.seicon-fork:before { content: '\e83d'; } /* '' */
.seicon-formula:before { content: '\e83e'; } /* '' */
.seicon-forward:before { content: '\e83f'; } /* '' */
.seicon-frown:before { content: '\e840'; } /* '' */
.seicon-gallery:before { content: '\e841'; } /* '' */
.seicon-globe:before { content: '\e842'; } /* '' */
.seicon-group:before { content: '\e843'; } /* '' */
.seicon-group-minus:before { content: '\e844'; } /* '' */
.seicon-group-plus:before { content: '\e845'; } /* '' */
.seicon-header:before { content: '\e846'; } /* '' */
.seicon-help-circle:before { content: '\e847'; } /* '' */
.seicon-help-circle-alt:before { content: '\e848'; } /* '' */
.seicon-home:before { content: '\e849'; } /* '' */
.seicon-info-circle:before { content: '\e84a'; } /* '' */
.seicon-info-circle-alt:before { content: '\e84b'; } /* '' */
.seicon-integer:before { content: '\e84c'; } /* '' */
.seicon-invert:before { content: '\e84d'; } /* '' */
.seicon-italic:before { content: '\e84e'; } /* '' */
.seicon-key:before { content: '\e84f'; } /* '' */
.seicon-lab:before { content: '\e850'; } /* '' */
.seicon-last-circle:before { content: '\e851'; } /* '' */
.seicon-left:before { content: '\e852'; } /* '' */
.seicon-left-axys:before { content: '\e853'; } /* '' */
.seicon-left-circle:before { content: '\e854'; } /* '' */
.seicon-left-dir:before { content: '\e855'; } /* '' */
.seicon-left-open:before { content: '\e856'; } /* '' */
.seicon-left-open-circle:before { content: '\e857'; } /* '' */
.seicon-license:before { content: '\e858'; } /* '' */
.seicon-lightbulb:before { content: '\e859'; } /* '' */
.seicon-link:before { content: '\e85a'; } /* '' */
.seicon-link-external:before { content: '\e85b'; } /* '' */
.seicon-list:before { content: '\e85c'; } /* '' */
.seicon-loading:before { content: '\e85d'; } /* '' */
.seicon-lock:before { content: '\e85e'; } /* '' */
.seicon-lock-alt:before { content: '\e85f'; } /* '' */
.seicon-lock-open:before { content: '\e860'; } /* '' */
.seicon-lock-open-alt:before { content: '\e861'; } /* '' */
.seicon-login:before { content: '\e862'; } /* '' */
.seicon-logout:before { content: '\e863'; } /* '' */
.seicon-look-up:before { content: '\e864'; } /* '' */
.seicon-loop:before { content: '\e865'; } /* '' */
.seicon-menu:before { content: '\e866'; } /* '' */
.seicon-minus:before { content: '\e867'; } /* '' */
.seicon-minus-circle:before { content: '\e868'; } /* '' */
.seicon-minus-circle-alt:before { content: '\e869'; } /* '' */
.seicon-minus-square:before { content: '\e86a'; } /* '' */
.seicon-minus-square-alt:before { content: '\e86b'; } /* '' */
.seicon-mobile-checked:before { content: '\e86c'; } /* '' */
.seicon-mobile-friendly:before { content: '\e86d'; } /* '' */
.seicon-mobile-suite-logo:before { content: '\e86e'; } /* '' */
.seicon-mobile-unfriendly:before { content: '\e86f'; } /* '' */
.seicon-more:before { content: '\e870'; } /* '' */
.seicon-more-square:before { content: '\e871'; } /* '' */
.seicon-move:before { content: '\e872'; } /* '' */
.seicon-offline-cloud:before { content: '\e873'; } /* '' */
.seicon-options:before { content: '\e874'; } /* '' */
.seicon-order-asc:before { content: '\e875'; } /* '' */
.seicon-order-desc:before { content: '\e876'; } /* '' */
.seicon-order-stripes-asc:before { content: '\e877'; } /* '' */
.seicon-order-stripes-desc:before { content: '\e878'; } /* '' */
.seicon-path:before { content: '\e879'; } /* '' */
.seicon-pause:before { content: '\e87a'; } /* '' */
.seicon-pause-alt:before { content: '\e87b'; } /* '' */
.seicon-picture:before { content: '\e87c'; } /* '' */
.seicon-pinned:before { content: '\e87d'; } /* '' */
.seicon-play:before { content: '\e87e'; } /* '' */
.seicon-play-circle:before { content: '\e87f'; } /* '' */
.seicon-play-circle-alt:before { content: '\e880'; } /* '' */
.seicon-plus:before { content: '\e881'; } /* '' */
.seicon-plus-circle:before { content: '\e882'; } /* '' */
.seicon-plus-circle-alt:before { content: '\e883'; } /* '' */
.seicon-plus-squared:before { content: '\e884'; } /* '' */
.seicon-plus-squared-alt:before { content: '\e885'; } /* '' */
.seicon-pointer:before { content: '\e886'; } /* '' */
.seicon-print:before { content: '\e887'; } /* '' */
.seicon-print-config:before { content: '\e888'; } /* '' */
.seicon-print-custom:before { content: '\e889'; } /* '' */
.seicon-print-open:before { content: '\e88a'; } /* '' */
.seicon-print-report:before { content: '\e88b'; } /* '' */
.seicon-print-report2:before { content: '\e88c'; } /* '' */
.seicon-print-report-compiles:before { content: '\e88d'; } /* '' */
.seicon-reload:before { content: '\e88e'; } /* '' */
.seicon-resize-full:before { content: '\e88f'; } /* '' */
.seicon-resize-restore:before { content: '\e890'; } /* '' */
.seicon-right:before { content: '\e891'; } /* '' */
.seicon-right-axys:before { content: '\e892'; } /* '' */
.seicon-right-circle:before { content: '\e893'; } /* '' */
.seicon-right-dir:before { content: '\e894'; } /* '' */
.seicon-right-open:before { content: '\e895'; } /* '' */
.seicon-right-open-circle:before { content: '\e896'; } /* '' */
.seicon-rocket:before { content: '\e897'; } /* '' */
.seicon-rotate-ccw:before { content: '\e898'; } /* '' */
.seicon-rotate-cw:before { content: '\e899'; } /* '' */
.seicon-scanner:before { content: '\e89a'; } /* '' */
.seicon-scorm:before { content: '\e89b'; } /* '' */
.seicon-se:before { content: '\e89c'; } /* '' */
.seicon-se-alt:before { content: '\e89d'; } /* '' */
.seicon-search:before { content: '\e89e'; } /* '' */
.seicon-search-remove:before { content: '\e89f'; } /* '' */
.seicon-search-warning:before { content: '\e8a0'; } /* '' */
.seicon-section:before { content: '\e8a1'; } /* '' */
.seicon-see-document-01:before { content: '\e8a2'; } /* '' */
.seicon-se-half:before { content: '\e8a3'; } /* '' */
.seicon-server:before { content: '\e8a4'; } /* '' */
.seicon-setting:before { content: '\e8a5'; } /* '' */
.seicon-share:before { content: '\e8a6'; } /* '' */
.seicon-simulatesync:before { content: '\e8a7'; } /* '' */
.seicon-slides:before { content: '\e8a8'; } /* '' */
.seicon-smile:before { content: '\e8a9'; } /* '' */
.seicon-star:before { content: '\e8aa'; } /* '' */
.seicon-star-alt:before { content: '\e8ab'; } /* '' */
.seicon-stop:before { content: '\e8ac'; } /* '' */
.seicon-success:before { content: '\e8ad'; } /* '' */
.seicon-sun:before { content: '\e8ae'; } /* '' */
.seicon-swipe:before { content: '\e8af'; } /* '' */
.seicon-syncnow:before { content: '\e8b0'; } /* '' */
.seicon-table:before { content: '\e8b1'; } /* '' */
.seicon-tasktransfer:before { content: '\e8b2'; } /* '' */
.seicon-testconnection:before { content: '\e8b3'; } /* '' */
.seicon-th-large:before { content: '\e8b4'; } /* '' */
.seicon-thumbs-down:before { content: '\e8b5'; } /* '' */
.seicon-thumbs-up:before { content: '\e8b6'; } /* '' */
.seicon-toggle-off:before { content: '\e8b7'; } /* '' */
.seicon-toggle-on:before { content: '\e8b8'; } /* '' */
.seicon-trash:before { content: '\e8b9'; } /* '' */
.seicon-trash-alt:before { content: '\e8ba'; } /* '' */
.seicon-unchecked:before { content: '\e8bb'; } /* '' */
.seicon-unpinned:before { content: '\e8bc'; } /* '' */
.seicon-up:before { content: '\e8bd'; } /* '' */
.seicon-up-circle:before { content: '\e8be'; } /* '' */
.seicon-up-dir:before { content: '\e8bf'; } /* '' */
.seicon-upload-cloud:before { content: '\e8c0'; } /* '' */
.seicon-up-open:before { content: '\e8c1'; } /* '' */
.seicon-up-open-circle:before { content: '\e8c2'; } /* '' */
.seicon-user:before { content: '\e8c3'; } /* '' */
.seicon-user-alt:before { content: '\e8c4'; } /* '' */
.seicon-user-edit:before { content: '\e8c5'; } /* '' */
.seicon-user-minus:before { content: '\e8c6'; } /* '' */
.seicon-user-owner:before { content: '\e8c7'; } /* '' */
.seicon-user-plus:before { content: '\e8c8'; } /* '' */
.seicon-user-portals:before { content: '\e8c9'; } /* '' */
.seicon-varchar:before { content: '\e8ca'; } /* '' */
.seicon-warning:before { content: '\e8cb'; } /* '' */
.seicon-warning-alt:before { content: '\e8cc'; } /* '' */
.seicon-warning-circle:before { content: '\e8cd'; } /* '' */
.seicon-warning-circle-alt:before { content: '\e8ce'; } /* '' */
.seicon-zoom-in:before { content: '\e8cf'; } /* '' */
.seicon-zoom-out:before { content: '\e8d0'; } /* '' */
.seicon-academic:before { content: '\e8d1'; } /* '' */
.seicon-all:before { content: '\e8d2'; } /* '' */
.seicon-audio:before { content: '\e8d3'; } /* '' */
.seicon-backward:before { content: '\e8d4'; } /* '' */
.seicon-bell:before { content: '\e8d5'; } /* '' */
.seicon-birthday:before { content: '\e8d6'; } /* '' */
.seicon-bold:before { content: '\e8d7'; } /* '' */
.seicon-book:before { content: '\e8d8'; } /* '' */
.seicon-calendar:before { content: '\e8d9'; } /* '' */
.seicon-cancel:before { content: '\e8da'; } /* '' */
