.ui-table{
    text-align: left;
    color: $text-grey;
    font-size: $font-md;
    .button-link{
        color: inherit;
        &:hover{
            color: $status-blue;
        }
    }
    span{
        line-height: 1;
        vertical-align: middle;
    }
    img{
        width: 26px;
        height: 26px;
        vertical-align: middle;
        margin-right: $padding-base-vertical;
    }
    table{
        width: 100%;
        border-collapse:collapse;
        border-spacing:0px;
    }
    thead{
        border-bottom: solid 1px rgba(black, .4);
        font-size: $font-sm;
        text-transform: uppercase;
        tr{
            height: baseV(5);
        }
        th{
            font-weight: normal;
        }
    }
    tbody{
        tr{
            border-bottom: solid 1px $border-grey;
            height: baseV(10);
            &:last-child{
                border-bottom: none;
            }
            &.tr-duplicated{
                border-bottom: none;
            }
        }
    }
    &.ui-table-inputs{
        tbody{
            tr{
                height: baseH(7);
            }
        }
    }
    .icon-element{
        vertical-align: middle;
        &.danger{
            color: $danger-red;
        }
    }
    .ui-input{
        &.ui-input-date{
            width: 90px;
            min-width: auto;
        }
        &.input-time-hh-mm{
            width: 64px;
            input{
                text-align: center;
            }
        }
    }
    .table-actions{
        display: flex;
        justify-content: flex-end;
        .icon-element{
            font-size: 1.25em;
            cursor: pointer;
            transition: color $fast-time linear;
            margin-right: baseH(2);
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                color: $status-blue;
            }
            &:last-child{
                &:hover{
                    color: $danger-red;
                }
            }
        }
    }
}
