.ui-tag{
    display: inline-block;
    vertical-align: middle;
	position: relative;
    img{
        vertical-align: middle;
    }
	font-size: $font-sm;
	color: $text-grey;
	padding: 5px 4px;
	background: $zebra-grey;
	border: solid 1px $border-grey;
	transition: border $fast-time linear;
	border-radius: $radius;
	line-height: 1;
    color: $text-grey;
	.icon-element{
		color: rgba(black, .25);
		transition: color $fast-time linear;
		position: static;
		visibility: visible;
		padding-right: 0;
		height: auto;
		padding-left: 2px;
		line-height: 1;
		font-size: 1em;
        vertical-align: middle;
		&:hover{
			color: $danger-red;
			cursor: pointer;
		}
	}
	a{
		color: inherit;
		text-decoration: none;
		position: relative;
		display: inline-block;
		&::after {
			content: "";
			position: absolute;
			display: block;
			border-bottom: solid 1px $status-blue;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			transform-origin: center center;
			transform: scaleX(0);
			transition: transform $fast-time ease;
		}
		&:hover {
			color: $status-blue;
			&::after {
				transform: scaleX(1);
			}
		}
	}
	&:hover{
		border: solid 1px $status-blue;
	}
	.remove-tags{
		display: none;
		color: rgba(black, .25);
		transition: color $fast-time linear;
		position: absolute;
		right: 0;
		visibility: visible;
		line-height: 1;
		font-size: 16px;
	}
	&.ui-tag-add{
		position: relative;
		display: inline-block;
		margin: 0;
		height: 36px;
		padding-right: 24px;
		margin-right: $padding-xs;
		margin-bottom: $padding-base-vertical;
        padding-top: 2px;
		p{
			margin: 2px 0 1px 0;
			text-transform: uppercase;
			font-size: 10px;
			color: $doubledevil-grey;
		}
		a{
			color: $text-grey;
			font-size: 12px;
		}
		.remove-tags{
			display: block;
		}
		.icon-element{
			position: absolute;
			right: 8px;
			top: 0;
			line-height: 36px;
		}
	}
    .generic-label{
        .label-title{
            font-size: 10px;
            padding-bottom: 0;
        }
        .label-subtitle{
            font-size: 12px;
            vertical-align: middle;
        }
    }
    .label-subtitle{
        vertical-align: middle;
    }
}
