//toggle
.ui-toggle{
	display: inline-block;
	font-size: 14px;
}
.ui-toggle-group{
	.ui-toggle{
		display: block;
		padding: 4px 0;
	}
}

//radio
.ui-radio{
	display: inline-block;
	font-size: 14px;
	label{
		display: flex;
		align-items: center;
		.radio{
			margin-right: base(1);
		}
	}
}

//checkbox
.ui-checkbox{
	display: inline-block;
	font-size: 14px;
}
.ui-radio-group{
	.ui-radio{
		display: block;
		padding: 4px 0;
	}
}
.ui-checkbox-group{
	.ui-checkbox{
		display: block;
		padding: 4px 0;
	}
}

$submit-color: $status-blue;
$border-color: $border-grey;

.radio-bullet, .toggle-bullet, .checkbox-bullet {
  display: none;

  + label {
	color: $text-grey;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    transition: all $normal-time linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .radio, .capsule, .check {
	  background: #fff;
      color: $submit-color;
      border-radius: 50%;
      border: 1px solid $border-color;
      bottom: 0;
      display: inline-block;
      font-size: 16px;
      height: 1em;
      line-height: 1;
      position: relative;
      transition: all $normal-time ease-in-out;
      width: 1em;

      span {
        color: $submit-color;
        background-color: currentColor;
        border-radius: 50%;
        display: inline-block;
        height: 0.75em;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
        opacity: 0;
        transform: scale(0.3);
        transition: all 0.13s ease-in-out;
        width: 0.75em;
      }
    }
	b{
		color: inherit;
	}
  }
}

.radio-bullet {
  &:checked {
    + label .radio > span {
      transform: scale(1);
      opacity: 1;
    }
  }
  & + label .radio > span{
	  margin-left: .05em;
	  margin-top: .05em;
    }
  &:disabled {
	opacity: .5;
	pointer-events: none;
	+ label {
			opacity: .5;
	 		pointer-events: none;
		}
	}
}

.checkbox-bullet {
  + label {
    .check {
      border-radius: 0.1875em;
      top: 0;
	  vertical-align: text-bottom;

      span {
        height: 0.1255em;
        margin-left: 0.4375em;
        position: relative;
        transition: all 90ms ease-out;
        transform: scale(1) translateY(-0.085em) rotate(45deg);
        width: 0.1255em;

        &::after {
          background-color: currentColor;
          border-radius: 50%;
          bottom: 0;
          content: "";
          display: block;
          height: 0.1255em;
          opacity: 0;
          position: absolute;
          transition: all 90ms ease-out;
          right: 0;
          width: 0.1255em;
        }
      }
    }
  }
  &:checked {
    + label .check > span {
      margin-left: 0.05em;
      opacity: 1;
      width: 0.4em;

      &::after {
        height: 0.95em;
        opacity: 1;
      }
    }
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;
    + label {
  		  opacity: .5;
  		  pointer-events: none;
  	  }
    }

  &.half-check {
    + label .check > span {
      margin-left: 0.1em;
      opacity: 1;
      transform: scale(1) translateY(-0.175em);
      width: 0.65em;
    }
  }

  &.half-check:checked {
    + label .check > span {
      transform: scale(1) translateY(-0.06em) rotate(45deg);
      width: 0.45em;
    }
  }
}

.toggle-bullet {
  + label {
    .capsule {
      border: 1px solid rgba(0,0,0,0.2);
      height: 1.125732899022801em;
      margin-right: 0.3em;
      top: 0.2510em;
      width: 2.15em;

      span {
        border: 1px solid rgba(0,0,0,0.2);
        height: 0.7501816846267455em;
        opacity: 1;
        transform: scale(1);
        width: 0.7501816846267455em;
      }
    }
  }

  &:active:not([disabled]) {
    + label {
      .capsule {
        span {
          width: 1.3em;
        }
      }
    }
  }

  &:checked {
    + label {
      .capsule {
        background-color: currentColor;

        span {
          background-color: #FFF;
          transform: translate(1em, 0);
        }
      }
      &:active {
        .capsule {
          span {
            transform: translate(0.48em, 0);
            width: 1.3em;
          }
        }
      }
    }
  }

  &:disabled {
	  opacity: .5;
	  pointer-events: none;
    + label {
		opacity: .5;
  	  	pointer-events: none;
    }
  }
}
