.ui-tooltip{
	$tooltip-size: 300px;
	position: relative;
	text-align: left;
	line-height: 1.2;
	.ui-tooltip-message{
        transition: opacity $fast-time linear, transform $fast-time ease-in-out;
        opacity: 0;
        visibility: hidden;
		pointer-events: none;
		border-radius: $radius;
		width: $tooltip-size;
		position: absolute;
        z-index: 9;
		background: #000;
		color: #fff;
		font-size: $font-sm;
		padding: baseH(1);
		p{
			margin: 0;
			margin-bottom: $padding-base-vertical;
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		&:before{
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			background: #000;
			width: 12px;
			height: 12px;
			transform: rotate(45deg);
		}
	}
	&.ui-button{
		overflow: visible;
		&:after{
			display: none; //disable ripple
		}
	}
    &.ui-tooltip--right{
        .ui-tooltip-message{
            top: 50%;
            right: -($tooltip-size + 10px);
            transform: translateY(-50%) translateX(10px);
            &:before{
                left: -4px;
    		}
        }
    }
    &.ui-tooltip--left{
        .ui-tooltip-message{
            top: 50%;
            left: -($tooltip-size + 10px);
            transform: translateY(-50%) translateX(-10px);
            &:before{
                right: -4px;
    		}
        }
    }
    &.ui-tooltip--top{
        .ui-tooltip-message{
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(-10px);
            &:before{
                top: auto;
                bottom: -4px;
                left: calc(50% - 6px);
    		}
        }
    }
    &.ui-tooltip--bottom{
        .ui-tooltip-message{
            left: 50%;
            transform: translateX(-50%) translateY(10px);
            &:before{
                bottom: auto;
                top: -4px;
                left: calc(50% - 6px);
    		}
        }
    }
    &.is-active,
    &:hover{
        &.ui-tooltip--left{
            .ui-tooltip-message{
                visibility: visible;
                opacity: 1;
                transform: translateY(-50%) translateX(0);
            }
        }
        &.ui-tooltip--right{
            .ui-tooltip-message{
                visibility: visible;
                opacity: 1;
                transform: translateY(-50%) translateX(0);
            }
        }
        &.ui-tooltip--top{
            .ui-tooltip-message{
                visibility: visible;
                opacity: 1;
                transform: translateX(-50%) translateY(-5px);
            }
        }
        &.ui-tooltip--bottom{
            .ui-tooltip-message{
                visibility: visible;
                opacity: 1;
                transform: translateX(-50%) translateY(5px);
            }
        }

    }
}
