<div class="ui-input">
    <label for="" class="ui-label ui-required">label</label>
    <input type="text" placeholder="Placeholder">
</div>
<div class="ui-input">
    <label for="" class="ui-label ui-required">label</label>
    <input type="text" placeholder="Placeholder">
</div>
