<div class="button-selector ui-button--@type">
    <button class="ui-button ui-button--@size ui-button--@type">
        <span class="icon-element">
            <span class="@icon"></span>
        </span>
        <span class="icon-element">
            <span class="seicon-down-dir"></span>
        </span>
    </button>
    <div class="ui-dropdown-options">
        <ul>
            @for(var i=0; i<options.length; i++){
                <li>
                    `+ options[i] +`
                </li>
            }
        </ul>
    </div>
</div>
