<div class="button-selector ui-button--@type has-optiongroup">
    <button class="ui-button ui-button--@size ui-button--@type">
        @text
        <span class="icon-element">
            <span class="seicon-down-dir"></span>
        </span>
    </button>
    <div class="ui-dropdown-options">
        @for(var i=0; i<options.length; i++){
            <div class="optiongroup">
                <span>`+options[i].group+`</span>
                <ul>
                    `+`${options[i].list.map(item =>`<li class=@liClass>`+item+`</li>`).join('')}`+`
                </ul>
            </div>
        }
    </div>
</div>
