<button class="ui-button ui-button--@size ui-button--@type ui-button--@disabled @class">
    @if(typeof icon == "string"){
        <span class="icon-element">
            <span class="@icon"></span>
        </span>
    }
    @if(typeof text == "string"){
        <span>@text</span>
    }
</button>
