<div class="ui-checkbox">
    <input type="checkbox" class="checkbox-bullet @half-check" id="@id" @checked @disabled/>
    <label for="@id">
        <span class="check">
            <span></span>
        </span>
        @text
    </label>
</div>
