<div class="section-divider is-@active">
    <div class="section-divider-header">
        <div class="section-divider-title">
            <div class="icon-element">
                <span class="seicon-right-dir"></span>
            </div>
            <span>@header</span>
        </div>
        <hr>
    </div>
    <div class="section-divider-content">
        @html
    </div>
</div>
