<div class="section-divider section-divider-comum">
    <div class="section-divider-header">
        <div class="section-divider-title">
            <span>@header</span>
        </div>
        <hr>
    </div>
    <div class="section-divider-content" style="display: block">
        @html
    </div>
</div>
