<button class="ui-button ui-button--md ui-button--primary float-button">
    <span class="icon-element">
        <span class="seicon-options"></span>
        <span class="seicon-cancel"></span>
    </span>
</button>
