<!-- <div class="ui-input full @class">
    <label for="" class="ui-label ui-@required">@label</label>
    <input type="text" placeholder="@placeholder" @disabled>
</div> -->

<div class="ui-input full ui-@type">
    <label for="" class="ui-label ui-@required">@label</label>
    <input type="text" placeholder="@placeholder">
    @if(typeof type == "string" && type == "error"){
        <span class="ui-message-label">@message</span>
        <div class="icon-element">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        </div>
    }
    @if(typeof type == "string" && type == "warning"){
        <span class="ui-message-label">@message</span>
        <div class="icon-element">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>
    }
    @if(typeof type == "string" && type == "success"){
        <div class="icon-element">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
        </div>
    }
</div>
