<div class="button-link link-selector ui-button--@disabled @class  link-selector--@right">
    @if(typeof icon == "string"){
        <span class="icon-element customicon">
            <span class="@icon"></span>
        </span>
    }
    <span>@text</span>
    <span class="icon-element">
        <span class="seicon-down-dir"></span>
    </span>
    <div class="ui-dropdown-options custom-scrollbar">
        <ul>
            @for(var i=0; i<options.length; i++){
                <li>
                    `+ options[i] +`
                </li>
            }
        </ul>
    </div>
</div>
