<a class="button-link ui-button--@disabled @class">
    @if(typeof icon == "string"){
        <span class="icon-element">
            <span class="@icon"></span>
        </span>
    }
    <span>@text</span>
</a>
