<div class="ui-input ui-select ui-select--multiple @class">
    @if(typeof label == "string"){
        <label for="" class="ui-label ui-@required">@label</label>
    }
    <div class="posr">
        <input type="text" class="input-select" value="@placeholder" readonly>
        <div class="icon-element">
            <i class="seicon-down-dir" aria-hidden="true"></i>
        </div>
    </div>
    <div class="ui-select-options custom-scrollbar">
        <ul>
            @for(var i=0; i < options.length; i++){
                <div class="ui-checkbox">
                    <input type="checkbox" class="checkbox-bullet" name="selectCheck`+i+`" id="selectCheck`+i+`" />
                    <label for="selectCheck`+i+`">
                        <span class="check">
                        <span></span>
                        </span>
                        <span class="check-option">`+options[i]+`</span>
                    </label>
                </div>
            }
        </ul>
    </div>
</div>
