<div class="ui-panel">
    @if(typeof header == "string"){
        <div class="ui-panel-header">
            <h4>
                @header
            </h4>
        </div>
    }
    <div>
        @html
    </div>
</div>
