<div class="ui-input ui-select ui-select--optiongroup @class">
    @if(typeof label == "string"){
        <label for="" class="ui-label ui-@required">@label</label>
    }

    <div class="posr">
        <input type="text" class="input-select" value="@placeholder" readonly>
        <div class="icon-element">
            <i class="seicon-down-dir" aria-hidden="true"></i>
        </div>
    </div>
    <div class="ui-select-options custom-scrollbar">
        @for(var i=0; i<options.length; i++){
            <div class="optiongroup">
                <span>`+options[i].group+`</span>
                <ul>
                    `+`${options[i].list.map(item =>`<li class=@liClass>`+item+`</li>`).join('')}`+`
                </ul>
            </div>
        }
    </div>
</div>
