<div class="ui-slider-input is-@disabled">
    <label for="" class="ui-label ui-@required">
        @label
        @if(showValue == "true"){
            <span class="ui-slider-input-value">0</span>
        }
    </label>

    <input type="range" min="0" max="@maxValue" step="1" value="@value">
</div>
