<div class="tab-button">
    <div class="tab-button-grouped">
        @for(var i=0; i<buttons.length; i++){
            <div class="tab-button-element `+buttons[i].active+`  radio-button-element--`+buttons[i].disabled+`">
                <button class="ui-button ui-button--default ui-button--@size">
                    <span class="icon-element">
                        <span class="`+buttons[i].icon+`"></span>
                    </span>
                </button>
            </div>
        }
    </div>
</div>
