<span class='ui-tag'>
    @if(typeof img == "string"){
        <img src="@img" class="" alt="">
    }
    <span class="label-subtitle">@text</span>
    <span class='icon-element remove-tag'>
        <span class="seicon-cancel"></span>
    </span>
</span>
