<div class="ui-toggle">
    <input type="checkbox" class="toggle-bullet" id="@id" @checked @disabled>
    <label for="@id">
        <span class="capsule">
            <span></span>
        </span>
        @if(typeof text == "string"){
            @text
        }
    </label>
</div>
