<div class="ui-toolbar">
    <div class="ui-toolbar-grouped">
        @for(var i=0; i<buttons.length; i++){
            <div class="ui-toolbar-button">
                @include('Button.html', {
                    "size": "@size",
                    "type": "`+buttons[i].type+`",
                    "text": "`+buttons[i].text+`"
                })
            </div>
        }
    </div>
</div>
